<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Social Media</h1>
    <a href="{% url 'home' %}">HOME</a>/
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">LOGOUT</a>
    {% else %}
    <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}
    <hr>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>
